@import url('https://fonts.googleapis.com/css2?family=Limelight&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Silkscreen:wght@400;700&display=swap');

* {
    margin-top:5px;
    margin-left:5px;
    margin-bottom:20px;
}

.header {
    font-size: 70px;
    color:#F9EFED
}

body {
    background-color:#003049;
    font-family: "PT Serif";
}

.main {
    background-color: #C1121F;
    color:#F9EFED;
    padding: 5px;
    margin-right: 1300px;
    border-radius: 20px;
    margin-top: -75px;
}

.side {
    color:#F9EFED;
    background-color: #760000;
    margin-left: 700px;
    margin-top: -175px;
    padding: 6px;
    border-bottom-left-radius: 50px;
    margin-right: -15px;
    text-align: center;
}

.bottom-right {
    color: #F9EFED;
    background-color: #669BBC;
}

.img {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Undertale-img {
    margin-left: 60px;
}