@import url('https://fonts.googleapis.com/css2?family=Limelight&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Silkscreen:wght@400;700&display=swap');

* {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 20px;
}

.header {
    font-size: 70px;
    color:#F9EFED;
    width: 70%;
}

body {
    background-color:#003049;
    font-family: "PT Serif";
}

.main {
    background-color: #C1121F;
    color:#F9EFED;
    padding: 5px;
    margin-right: 1300px;
    border-radius: 20px;
    width: 30%;
    min-width: 400px;
}

.side {
    color:#F9EFED;
    background-color: #760000;
    position: absolute;
    left: 700px;
    top: 0px;
    padding: 6px;
    border-bottom-left-radius: 50px;
    min-width: 250px;
    max-height: 75vh;
}

.bottom-right {
    color: #F9EFED;
    background-color: #669BBC;
    border-radius: 10px;
    position: absolute;
    min-width: 500px;
    padding-left: 20px;
    padding-top: 20px;
}

.character {
    background-color:#669BBC;
    display: flex;
    justify-content: end;
    flex-direction: row;
    max-width: 100%;
    height: 500px;
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: center;
}

.character img { 
    padding-left: 600px;
}

@keyframes dance {
    0% {
        transform: rotate(0);
    }
    33% {
        transform: rotate(15deg) translateY(10px);
    }
    66% {
        transform: rotate(-15deg) translateY(-10px);
    }
    100% {
        transform: rotate(0);
    }
}   

.character img:hover {
    animation: dance 1s infinite;
}

.character p {
    padding-right: 10%;
}

.character a {
    padding-bottom: 300px;
}

.img {
    background-color: #669BBC;
    color: #F9EFED;
    transition: 0.3s ease-in-out;
}

.img:hover {
    background-color: #003049;
    transform: scale(1.1);
}

