@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Silkscreen:wght@400;700&display=swap');

* {
    margin-top:5px;
    margin-left:5px;
    margin-bottom:20px;
}

.header {
    font-size: 60px;
    color:#F9EFED
}

body {
    background-color:#003049;
}

.main {
    background-color: #C1121F;
    color:#F9EFED;
    padding: 5px;
}

.side {
    color:#F9EFED;
    background-color: #760000;
    margin-left: 700px;
    margin-top: -175px;
    padding: 6px;
    border-bottom-left-radius: 50px;
    margin-right: -15px;
    text-align: center;
}

.bottom-right {
    color: #F9EFED;
    background-color: #669BBC;
}
